#navbar {
  text-align: center;
  background-color: black;
  color: white;
  height: 50px;
}

#alumni-edge {
  margin-top: 0px;
  cursor: pointer;
  padding-top: 5px;
}

#profile-page {
  display: grid;
  grid-template-columns: repeat(2, 525px);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#professor {
  grid-column: 1;
}

#professor-info {
  grid-column: 2;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

#course {
  display: flex;
  gap: 10px;
  margin-top: -15px;
  margin-bottom: -20px;
}

.class {
  width: 475px;
}

.percentage {
  width: 50px;
  font-weight: 700;
}

#homePage {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#steps {
  justify-content: center;
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  /* text-align: center; */
}

#step1 {
  margin-left: 10px;
  margin-right: 10px;
  /* width: 33%;
  float: left; */
}

#step2 {
  margin-left: 10px;
  margin-right: 10px;
  /* width: 33%;
  float: left; */
}

#step3 {
  margin-left: 10px;
  margin-right: 10px;
  /* width: 33%;
  float: right; */
}

.stepBox {
  justify-self: center;
  background-color: lightgray;
  width: 260px;
  height: 350px;
}

.title {
  text-align: center;
  padding-top: 10px;
}

.choiceList {
  width: 200px;
  display: block;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

#submit {
  margin-top: 15px;
  width: 100px;
  height: 35px;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
}
